
.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: #262329;
    color: #ffffff;
}


.footer__container h1 {
    font-size: 1rem;
}

.github-info__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.github-logo {
    background-image: url('../../assets/github.png');
    background-size: contain;
    width: 30px;
    height: 30px;
}

.github-link {
    color: #ffffff;
}